<div class="container">
    <div class="panel panel-primary" id="buttonVersion">
        <div class="panel-heading">
            <h3>Pick your choice!!</h3>
        </div>
        <div class="row text-center">
            <div *ngFor="let name of picks; ; let i = index"  class="col-sm-4">
                <div class="card text-align">
                    <div class="card-body">
                        <img src={{images[i]}} />
                        <h5 class="card-title">{{name}}</h5>
                        <button (click)="startGameClick(name)" class="btn btn-info">Pick!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>